<template>
  <div class="container">
    <div class="row">
      <div class="realCat col-xl-2 col-lg-4 col-md-4 col-md-6 col-sm-12 col-12">
        <!-- <button @click="getProducts()">Получить все продукты</button>
    <p v-for="(category) in categories" :key="category.category_name">
      <a @click="getProducts(category.id)">{{category.category_name}}</a>
    </p>
    <input type="text" v-model="id">
    <button @click="getProductById()">Получить продукт по id</button>

        <p v-for="(item, index) in items" :key="index">{{item}}</p>-->
        <table border="1">
          <tr>
            <th>id</th>
            <th>product_name</th>
            <th>category_id</th>
            <th>price</th>
            <th>rating</th>
            <th>isAviable</th>
            <th>tags</th>
            <th>sizes</th>
            <th>comments</th>
            <th>actions</th>
          </tr>
          <tr v-for="(item, index) in items" :key="index">
            <td>{{item.id}}</td>
            <td>{{item.product_name}}</td>
            <td>{{item.category_id}}</td>
            <td>{{item.price}}</td>
            <td>{{item.rating}}</td>
            <td>{{item.isAviable}}</td>
            <td></td>
            <td></td>
            <!-- <td>{{item.tags}}</td> -->
            <!-- <td>{{item.sizes}}</td> -->
            <td>{{item.comments.length}}</td>
            <!-- <td></td> -->
            <td>
              <button @click="deleteProduct(item.id)">Удалить</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Catalogue",
  data() {
    return {
      test: "test",
      id: "",
      category_id: "",
      categories: [],
      items: []
    };
  },
  methods: {
    warn() {
      alert("123");
    },
    getCategories() {
      axios
        .get("/stock.getCategories")
        .then(res => (this.categories = res.data));
    },
    getProducts(id) {
      axios.get("/stock.getProducts?category=" + id).then(res => {
        console.log(res.data);
        this.items = res.data;
      });
    },
    getProductById() {
      axios.get("/stock.getProductById?id=" + this.id).then(res => {
        console.log(res);
        this.items = [];
        this.items.push(res.data);
      });
    },
    deleteProduct(id) {
      axios.post("/admin.deleteProduct?id=" + id).then(res => {
        console.log(res);
        // this.items = [];
        // this.items.push(res.data);
        this.getProducts();
      });
    }
  },
  mounted() {
    this.getCategories();
    this.getProducts();
  }
};
</script>

<style scoped>
.realCat {
  margin-top: -540px;
  position: absolute;
  width: 100%;
  float: right;
}
table {
  width: 1024px;
}
</style>