<template>
  <div class="container">
    <div class="row">
      <div class="realCat">
        <h1>Личный кабинет</h1>
        <!-- Блок смены пароля -->
        <div>
          <a href="#" @click="menu = 1">Сменить пароль</a>
          <div class="changePasswordForm" v-show="menu === 1">
            <form name="fstpswrd" class="fstpswrd" action>
              <label for="name" class="fstpswrdLbl">Текущий пароль</label>
              <input
                type="password"
                placeholder="Пароль"
                class="fstpswrdForm"
                id="fstpswrdForm"
                title="Введите ваш текущий пароль"
                v-model="current_password"
              >
            </form>
            <form name="scndpswrd" class="scndpswrd" action method="post">
              <label for="name" class="scndpswrdLbl">Новый пароль</label>
              <input
                type="password"
                placeholder="Пароль"
                class="scndpswrdForm"
                id="scndpswrdForm"
                title="Введите ваш новый пароль"
                v-model="new_password"
              >
            </form>
            <form name="thrdpswrd" class="thrdpswrd" action method="post">
              <label for="name" class="thrdpswrdLbl">Повторите пароль</label>
              <input
                type="password"
                placeholder="Пароль"
                class="thrdpswrdForm"
                id="thrdpswrdForm"
                title="Повторите ваш новый пароль"
                v-model="password_confirmation"
              >
            </form>
            <button @click="changePassword()">Сменить</button>
          </div>
        </div>

        <!-- Блок смены адреса -->
        <div>
          <a href="#" @click="menu = 2">Сменить адрес</a>
          <div v-show="menu === 2">
            <form class="adressChangeForm" action>
              <label class="adressChangeLbl" for>Введите новый адрес</label>
              <input class="adressInput" type="text" v-model="new_address">
              <button @click="changeAddress()">Сменить</button>
            </form>
          </div>
        </div>
        <!-- Блок Заказов -->
        <div>
          <a href="#" @click="menu = 3">Мои заказы</a>

          <div class="orders" v-show="menu === 3">
            <div class="main">
              <table>
                <tr>
                  <th>Название</th>
                  <th>Размер</th>
                  <th>Цена</th>
                  <th>Тип доставки</th>
                  <th>Тип оплаты</th>
                  <th>Адрес</th>
                  <th>Статус</th>
                  <th>trackcode</th>
                  <th>До доставки</th>
                  <th>Управление</th>
                </tr>
                <tr v-for="(prod, index) in user.deliveries" :key="index">
                  <td>{{prod.product.product_name}}</td>
                  <td>{{prod.size}}</td>
                  <td>{{prod.product.price}}</td>
                  <td>{{types?types.delivery_types.filter(f => f.id === prod.delivery_type)[0].name:""}}</td>
                  <td>{{types?types.payment_types.filter(f => f.id === prod.payment_type)[0].name:""}}</td>
                  <td>{{prod.address}}</td>
                  <td>{{types?types.status_types.filter(f => f.id === prod.status)[0].name:""}}</td>
                  <td>{{prod.trackcode}}</td>
                  <td>{{prod.closes_in}}</td>
                  <td>
                    <button
                      :disabled="prod.status === 5"
                      @click="confirmDelivery(prod.id)"
                    >Подтвердить доставку</button>
                    <!-- <button>Отменить</button> -->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- Админка -->
        <router-link to="/admin">
          <a href="#" v-show="user.role_id === 1">Панель администратора</a>
        </router-link>
        <div></div>
        <!-- Выход -->
        <a href="#" @click="logout()">Выйти</a>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      menu: null,
      current_password: null,
      new_password: null,
      password_confirmation: null,
      new_address: null,
      error: null,
      user: {},
      types: null
    };
  },
  methods: {
    logout() {
      this.$auth.logout({
        //TODO: Обработчик на сервере
        // makeRequest: true,
        params: {}, // data: {} in axios
        success: function() {},
        error: function() {},
        redirect: "/login"
      });
    },
    changePassword() {
      axios
        .post(
          `/user.changePassword?new_password=${
            this.new_password
          }&new_password_confirmation=${
            this.password_confirmation
          }&now_password=${this.current_password}`
        )
        .then(res => {
          console.log(res);
          alert("Пароль успешно изменен");
        })
        .catch(err => {
          alert(err.response.data.msg);
        });
    },
    changeAddress() {
      axios
        .post(`/user.changeAddress?new_address=${this.new_address}`)
        .then(res => {
          alert("Адрес успешно изменен");
        })
        .catch(err => {
          alert(err.response.data.msg);
        });
    },
    getUserData() {
      axios.get("user").then(res => {
        this.user = res.data.data;
      });
    },
    getTypes() {
      axios.get("/stock.getTypes").then(res => (this.types = res.data));
    },
    confirmDelivery(id) {
      axios.post(`/stock.confirmDelivery?id=${id}`).then(res => {
        console.log(res);
        this.getUserData();
      });
    }
  },
  mounted() {
    this.getUserData();
    this.getTypes();
  }
};
</script>

<style lang="">
table {
  width: 750px;
}

table th,
table td {
  border: 1px solid black;
  text-align: center;
  margin: 10px;
}
.realCat {
  margin-top: 100px;
  margin-left: 200px;
  display: absolute;
  margin-bottom: 450px;
  align-items: center;
  justify-content: space-between;
}

.realCat a {
  font-size: 24px;
  color: black;
}

.fstpswrd {
  width: 200px;
}

.fstpswrdLbl {
  font-size: 18px;
  margin-bottom: -10px;
}

.fstpswrdForm {
  margin-bottom: 10px;
}

.scndpswrd {
  width: 200px;
}

.scndpswrdLbl {
  font-size: 18px;
  margin-bottom: -10px;
}

.scndpswrdForm {
  margin-bottom: 10px;
}

.thrdpswrd {
  width: 200px;
}

.thrdpswrdLbl {
  font-size: 18px;
  margin-bottom: -10px;
}

.thrdpswrdForm {
  margin-bottom: 10px;
}

.changePasswordForm {
  margin-left: 20px;
}

.adressChangeForm {
  margin-left: 20px;
  width: 200px;
}

.adressChangeLbl {
  font-size: 18px;
  margin-bottom: -10px;
}

.adressInput {
  margin-bottom: 10px;
}

.orders {
  width: 1200px;
  margin-left: -150px;
}

.orders a {
  font-size: 18px;
  margin: 23px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}

.prods {
  border: 2px solid black;
}
.prods ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}
</style>
