<template>
  <div class="cart">
    <div class="poles">
      <div class="name">
        <a>Корзина</a>
      </div>
      <table>
        <tr>
          <th>Название</th>
          <th>Размер</th>
          <th>Цена</th>
          <th>Управление</th>
        </tr>
        <tr v-for="(prod, index) in bucket" :key="index">
          <td>{{prod.product.product_name}}</td>
          <td>{{prod.product.size.filter(size => size.id == prod.size)[0].letter}}</td>
          <td>{{prod.product.price}}</td>
          <td>
            <button @click="deleteFromBucket(prod.id)">Удалить</button>
          </td>
        </tr>
      </table>
      <div class="delivering_type">
        <div class="name">
          <a>Способ доставки</a>
        </div>
        <div v-for="(type, index) in types.delivery_types" :key="index">
          <input type="radio" :id="type.id" :value="type.id" v-model="picked.del_type">
          <label :for="type.id">{{type.name}}</label>
          <br>
        </div>
        <!-- <input type="radio" id="2" value="Курьером (СПб)" v-model="picked.del_type">
        <label for="2">Курьером (СПб)</label>
        <br>
        <input type="radio" id="3" value="Почта России (+200)" v-model="picked.del_type">
        <label for="3">Почта России (+200)</label>
        <br>-->
      </div>
      <div class="delivering_type">
        <div class="name">
          <a>Способ Оплаты</a>
        </div>
        <div v-for="(type, index) in types.payment_types" :key="index">
          <input type="radio" :id="type.id" :value="type.id" v-model="picked.pay_type">
          <label :for="type.id">{{type.name}}</label>
          <br>
        </div>
      </div>
      <div class="atall">
        <a class="lbl">Подитог:</a>
        <a class="cash">{{cart.sum}}</a>
        <button @click="confirmBuying()">Оформить заказ</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import axios from "axios";
export default {
  data() {
    return {
      picked: {
        del_type: 1,
        pay_type: 1
      },
      bucket: [],
      types: [],
      cart: {
        sum: 0
      }
    };
  },
  methods: {
    changeAddress() {
      axios
        .post(`/user.changeAddress?new_address=${this.new_address}`)
        .then(res => {
          console.log(res);
        });
    },
    getBucketData() {
      axios.get("user").then(res => {
        this.bucket = res.data.data.bucket;
        this.cart.sum = 0;
        this.bucket.map(item => {
          this.cart.sum += item.product.price;
        });
      });
    },
    deleteFromBucket(id) {
      axios.post(`/stock.deleteFromBucket?id=${id}`);
      this.getBucketData();
    },
    confirmBuying() {
      axios
        .post(
          `/stock.confirmBuying?delivery_type=${
            this.picked.del_type
          }&payment_type=${this.picked.pay_type}`
        )
        .then(res => {
          alert("Успешная покупка");
          this.getBucketData();
        });
    },
    getTypes() {
      axios.get("/stock.getTypes").then(res => (this.types = res.data));
    }
  },
  mounted() {
    this.getBucketData();
    this.getTypes();
  }
};
</script>

<style scoped lang="sass">
.cart 
  height: 100%
  width: 750px
  background-color: white
  border-radius: 5px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
  align-content: center
  margin-left: 28%
  position: relative
  top: 150px


.poles 
  padding-top: 20px
  padding-right: 500px
  display: flex
  flex-direction: column
  align-items: center
  font-family: "Comfortaa", sans-serif


.name 
  display: absolute
  background-color: #c4c4c4
  font-size: 18px
  color: black
  font-family: "Comfortaa", sans-serif
  width: 212px
  height: 26px
  margin-bottom: 30px
  align-items: center


.name a 
  margin-left: 20px

table 
  border: 1px solid black
  width: 750px
  margin-left: 500px
  top: 50px
  border-left: 0
  border-right: 0
  //TODO: Сдлеть отступ
  

.delivering_type
  margin-top: 10px
  width: 750px
  margin-left: 500px
  padding-left: 10px
  border-bottom: 1px solid black
  .name 
    margin-bottom: 10px

.atall 
  margin-top: 10px
  margin-left: 500px
  margin-bottom: 10px
  padding-left: 10px
  padding-right: 20px
  width: 750px
  button
    float: right


</style>
