<template>
  <div class="catalogue">
    <div class="select">
      <a>
        <fai icon="sort-amount-down"/>
      </a>
      <select
        v-model="sort_by"
        @change="$router.push({name: 'Catalogue', query: {category_id: $route.query.category_id, type: $route.query.type, sort_by: sort_by}})"
      >
        <option disabled>Сортировать по</option>
        <option selected value>По умолчанию</option>
        <option value="rating">Рейтингу</option>
        <option value="price">Цене</option>
        <option value="created_at">Новизне</option>
      </select>
    </div>
    <componentShop :itemsList="itemsList" :buy="true"></componentShop>
  </div>
</template>

<script>
import componentShop from "../components/componentShop.vue";
import axios from "axios";
export default {
  name: "Catalogue",
  props: ["category_id"],
  data() {
    return {
      sort_by: "",
      itemsList: []
      // category_id: null
    };
  },
  components: {
    componentShop
  },
  methods: {
    getProducts(id, type) {
      axios
        .get(
          `/stock.getProducts?category=${id}&${
            type > 0 ? "type=" + type : ""
          }&sort_by=${this.sort_by}`
        )
        .then(res => {
          console.log(res);
          this.itemsList = res.data;
        });
    }
  },
  mounted() {
    console.log(this.$route.query.category_id);
    this.getProducts(this.$route.query.category_id, this.$route.query.type);
  },
  watch: {
    $route: function(val) {
      // this.category_Id = val;
      this.getProducts(val.query.category_id, val.query.type);
      // this.category_id = val;
      console.log(val.query);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.select {
  z-index: 999;
  font-size: 24px;
  position: relative;
  top: 100px;
  flex-direction: column;
  align-items: center;
  float: right;
  margin-right: 70px;
}
select {
  border: 0;
}
</style>