<template>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href>
          <img class="d-block" src="/images/scroll1.png" alt="Первый слайд">
        </a>
      </div>
      <div class="carousel-item">
        <a href>
          <img class="d-block" src="/images/scroll2.png" alt="Второй слайд">
        </a>
      </div>
      <div class="carousel-item">
        <a href>
          <img class="d-block" src="/images/scroll3.png" alt="Третий слайд">
        </a>
      </div>
      <div class="carousel-item">
        <a href>
          <img class="d-block" src="/images/scroll2.png" alt="Четвёртый слайд">
        </a>
      </div>
    </div>
  </div>
</template>

<style scoped="">
.carousel {
  border: 1px solid red;
  margin-top: -360px;
  margin-left: 280px;
  position: absolute;
  width: 50%;
  float: right;
}

.carousel-indicators {
  margin-bottom: -50px;
}

.carousel-indicators li {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background: none;
}

.d-block {
  width: 90%;
  height: 90%;
}

.carousel-indicators .active {
  background-color: black;
}
</style>