<template>
	<div class="description">
		<h3 class="mt-5">Имя предмета</h3>
		<li class="descr">Здесь описание предмета</li>
	</div>
</template>

<style scoped="">
	.description{
		border: 1px solid red;
	}
</style>