<template>
  <div>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-5 col-xl-9">
            <div class="footer">
              <a href="#" v-on:click="show = !show">Покупателям
                <fai class="icon" icon="sort-down"/>
              </a>
              <transition name="slide-fade">
                <div class="footerForm" v-if="show">
                  <a href="#" v-on:click="show = !show">Покупателям</a>
                  <router-link to="/delivery">
                    <a>Доставка и оплата</a>
                  </router-link>
                  <router-link to="/shops">
                    <a>Магазины в СПб</a>
                  </router-link>
                  <router-link to="/contacts">
                    <a>Контакты</a>
                  </router-link>
                  <router-link to="/offer">
                    <a>Оферта</a>
                  </router-link>
                </div>
              </transition>
            </div>
          </div>
          <div class="icons">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-md-3 col-lg-4 col-xl-6">
                  <div class="buyshop">
                    <router-link :to="this.$auth.check()?'/cart':'/login'">
                      <fai icon="shopping-cart"/>
                    </router-link>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-4 col-xl-6">
                  <div class="account">
                    <router-link :to="this.$auth.check()?'/cabinet':'/login'">
                      <fai icon="user-alt"/>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      show: false
    };
  }
};
</script>

<style scoped="">
.icon {
  font-size: 36px;
}
.header {
  top: 0px;
  left: 265px;
  right: 0px;
  position: absolute;
  height: 72px;
  background-color: #eaeaea;
}

.footer {
  position: relative;
  top: 15px;
  z-index: 99999;
}

.footer a {
  font-size: 24px;
  color: black;
  font-family: "Chakra Petch", sans-serif;
}

.buyshop,
.account {
  width: 60px;
  margin-right: 30px;
}

.account {
  margin-top: 5px;
  width: 100%;
  font-size: 42px;
}

.buyshop {
  margin-top: 5px;
  font-size: 42px;
}

.icons {
  position: absolute;
  margin-right: 100px;
  right: 0px;
}

.footerForm {
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color: white;
  overflow: visible;
  margin-top: -36px;
  border-radius: 5px;
}
</style>