<template>
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="logo">
          <router-link to="/">
            <a>TECHwear</a>
          </router-link>
        </div>
        <div class="phone">
          <a>+7 (900) 000-00-00</a>
        </div>
        <div class="anactualmenu">
          <div class="outerwear">
            <div class="name">
              <router-link :to="{name: 'Catalogue', query: {category_id:'1'}}">
                <p :class="$route.query.category_id  === '1'?'active': ''">ВЕРХНЯЯ ОДЕЖДА</p>
              </router-link>
            </div>
            <div class="types">
              <p>
                <router-link :to="{name: 'Catalogue', query: {category_id:'1', type: '1'}}">
                  <p
                    :class="$route.query.category_id  === '1' && $route.query.type  === '1'?'active': ''"
                  >Куртки</p>
                </router-link>
              </p>
              <p>
                <router-link :to="{name: 'Catalogue', query: {category_id:'1', type: '2'}}">
                  <p
                    :class="$route.query.category_id  === '1' && $route.query.type  === '2'?'active': ''"
                  >Толстовки</p>
                </router-link>
              </p>
              <p>
                <router-link :to="{name: 'Catalogue', query: {category_id:'1', type: '3'}}">
                  <p
                    :class="$route.query.category_id  === '1' && $route.query.type  === '3'?'active': ''"
                  >Футболки</p>
                </router-link>
              </p>
            </div>
          </div>
          <div class="line"></div>
          <div class="underwear">
            <div class="name">
              <router-link :to="{name: 'Catalogue', query: {category_id:'2'}}">
                <p :class="$route.query.category_id  === '2'?'active': ''">НИЖНЯЯ ОДЕЖДА</p>
              </router-link>
            </div>
            <div class="types">
              <p>
                <router-link :to="{name: 'Catalogue', query: {category_id:'2', type: '4'}}">
                  <p
                    :class="$route.query.category_id  === '2' && $route.query.type  === '4'?'active': ''"
                  >Штаны</p>
                </router-link>
              </p>
              <p>
                <router-link :to="{name: 'Catalogue', query: {category_id:'2', type: '5'}}">
                  <p
                    :class="$route.query.category_id  === '2' && $route.query.type  === '5'?'active': ''"
                  >Шорты</p>
                </router-link>
              </p>
            </div>
          </div>
          <div class="accessories">
            <p>
              <router-link :to="{name: 'Catalogue', query: {category_id:'3'}}">
                <p :class="$route.query.category_id  === '3'?'active': ''">АКСЕССУАРЫ</p>
              </router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
</script>

<style scoped="">
.active {
  color: #8657a8;
}
.menu {
  top: 0px;
  padding-top: 300px;
  position: fixed;
  width: 265px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f3f3;
}

.menu a {
  font-size: 16px;
  color: black;
  font-family: "Comfortaa", sans-serif;
}

.phone {
  margin-left: 60px;
  margin-top: -220px;
}

.logo {
  margin-left: 35px;
  margin-top: -290px;
}

.logo a {
  font-size: 36px;
}

.anactualmenu {
  margin-top: -100px;
}

.name {
  margin-bottom: 15px;
  margin-left: 40px;
}

.types {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
}

.outerwear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
}

.underwear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
}

.accessories {
  margin-left: 40px;
}
</style>