<template>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href>
          <img class="d-block w-100" src="/images/scroll1.png" alt="Первый слайд">
        </a>
      </div>
      <div class="carousel-item">
        <a href>
          <img class="d-block w-100" src="/images/scroll2.png" alt="Второй слайд">
        </a>
      </div>
      <div class="carousel-item">
        <a href>
          <img class="d-block w-100" src="/images/scroll3.png" alt="Третий слайд">
        </a>
      </div>
    </div>
  </div>
</template>

<style scoped="">
.carousel {
  margin-top: 100px;
  margin-left: 280px;
  position: absolute;
  width: 80%;
  height: 500px;
  float: right;
}

.carousel-indicators {
  margin-bottom: -50px;
}

.carousel-indicators li {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border: 2px solid #61407a;
  border-radius: 10px;
  background: none;
}

.carousel-indicators .active {
  background-color: #61407a;
}
</style>