<template>
  <div class="row">
    <div v-for="(items, index) in itemsList" :key="index" class="realCat">
      <div class="clothes-items">
        <router-link :to="{name:'Product', query: {product_id: items.id}}">
          <div class="sizes">
            <div class="size" v-for="(item, index) in items.size" :key="index">{{item.letter}}</div>
          </div>
          <div class="clothes-items-img">
            <img
              :src="items.images[0]?items.images[0].src:'http://127.0.0.1:8000/images/stock.jpg'"
            >
          </div>
          <div class="actions">
            <h3 v-if="buy" class="product_name">{{items.product_name}}</h3>
            <p class="price">{{items.price}} Руб.</p>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  props: ["itemsList", "buy"],

  data() {
    return {};
  }
};
</script>

<style lang="sass" scoped>
.row
  position: absolute
  left: 350px
  right: 150px 
  margin-top: 75px

.realCat 
  position: relative
  margin-left: 30px
  margin-top: 60px
  align-items: center
  height: 480px
  width: 330px
  &:hover 
    border: 1px solid black


img 
  width: 100%
  // height: 100%
  padding: 0
  margin: 0
  margin-top: -10px
  top: -50
  left: 0
  right: 0
  position: absolute


.product_name 
  position: absolute
  top: 0   
  color: #61407A
  width: 100%
  font-size: 24px
  font-family: "Comfortaa", sans-serif
  text-align: center

.price 
  position: absolute  
  width: 100%
  font-size: 18px
  // color: #494949
  font-family: "Chakra Patch", sans-serif
  text-align: center
  font-weight: bold
  top: 48px

button 
  position: absolute  
  width: 100%
  font-size: 18px
  font-family: "Comfortaa", sans-serif
  text-align: left
  left: 50px
  top: 45px

.sizes
  position: absolute
  display: table
  z-index: 100
  width: 75px
  background-color: #000000
  font-family: "Chakra Patch", sans-serif

  .size
    display: table-cell
    color: white
    text-align: center
    margin: 0
    padding: 0

.actions
  background-color: white
  height: 75px
  position: absolute
  left: 0px
  bottom: 2px
  width: 100%
</style>
