<template>
	<div class="contacts">
		<label class="contactsLabel">Контакты</label>
		<div class="contactsText">
			<a>Вы всегда можете оперативно получить интересующую вас информацию, связавшись с нами любым удобным способом. Мы рады предложениям и замечаниям по нашей работе.</a>
			<div class="atributes">
				<div class="phone">
					<div class="icon">
						<fai icon="phone"/>
					</div>
					<div class="text">
						<a>+7 (900) 900-00-00</a>
					</div>
				</div>
				<div class="geo">
					<div class="icon">
						<fai icon="map-marker-alt"/>
					</div>
					<div class="text">
						<a>СПб, Пр. Большевиков, 22</a>
					</div>
				</div>
				<div class="mail">
					<div class="icon">
						<fai icon="envelope"/>
					</div>
					<div class="text">
						<a href="mailto:teameepo@mail.ru">teameepo@mail.ru</a>
					</div>
				</div>
			</div>
			<a>Если вы являетесь представителем бренда, фотографом, моделью или хотите предложить марку технологичной одежды для нашего ассортимента — пишите нам на почту, мы внимательно её читаем и стараемся всем отвечать.</a>
		</div>
	</div>
</template>

<style>
	.contactsLabel{
		display: absolute;
		  background-color: #c4c4c4;
		  font-size: 18px;
		  color: black;
		  font-family: "Comfortaa", sans-serif;
		  width: 212px;
		  height: 26px;
		  margin-top: 20px;
	}

	.contacts {
		position: relative;
		margin-left: 265px;
		margin-top: 70px;
	}

	.contactsText {
		margin: 20px;
	}

	.atributes {
		margin-top: 20px;
		font-size: 24px;
		margin-bottom: 20px;
	}
</style>