<template>
	<div class="delivery">
      <div class="deliveryLabel">
        <label>Доставка</label>
      </div>
      <div class="deliveryInfo">
      	<a>В магазине T3CH.RU существует три способа доставки заказов покупателям: курьерская доставка в любой город России, курьерская доставка по Санкт-Петербургу в пределах и самовывоз из розничного магазина в Санкт-Петербурге. В стоимость доставки всегда входит примерка — перед покупкой вы можете примерить вещь, проверить ее на брак и соответствие размеру. Если вы передумали покупать вещь из заказа, то просто отдайте ее обратно курьеру и не оплачивайте. Стоимость доставки нужно оплачивать в любом случае.<br>Заказы доставляются <b>ежедневно с 10:00 до 21:00 (по местному времени)</b>.</a>
      </div>
	  <div class="deliveryText">
	  	<div class="deliveryRussia">
	  		<label class="type"><b>Доставка по России</b></label>
	  		<div class="info">
	  			<a>Курьерская доставка заказа лично в руки покупателю.</a>
	  			<a>Район доставки — любой город России.</a>
	  			<a>Сроки доставки — от 2 до 6 дней в зависимости от города покупателя.</a>
	  			<a>Стоимость доставки — 500 ₽.</a>
	  		</div>
	  	</div>
	  	<div class="deliverySPb">
	  		<label class="type"><b>Доставка по Санкт-Петербургу</b></label>
	  		<div class="info">
	  			<a>Курьерская доставка заказа лично в руки покупателю.</a>
	  			<a>Район доставки — в пределах МКАД.</a>
	  			<a>Сроки доставки — 1 день.</a>
	  			<a>Стоимость доставки — 300 ₽.</a>
	  		</div>
	  	</div>
	  	<div class="deliverySelf">
	  		<label class="type"><b>Самовывоз</b></label>
	  		<div class="info">
	  			<a>Любой заказ можно самостоятельно забрать из нашего розничного магазина в Санкт-Петербург.</a>
	  			<a>Мы соберем и упакуем ваш заказ за 1 час после оформления.</a>
	  			<a>Адрес магазина — Санкт-Петербург, Пр. Большевиков, 22.</a>
	  		</div>
	  	</div>
	  </div>
    </div>
</template>

<style>

	.deliveryLabel{
display: absolute;
  background-color: #c4c4c4;
  font-size: 18px;
  color: black;
  font-family: "Comfortaa", sans-serif;
  width: 212px;
  height: 26px;
	}

	.delivery {
		position: relative;
		margin-left: 265px;
		margin-top: 100px;
	}

	.deliveryInfo {
		display: flex;
		width: 988px;
		height: 140px;
		margin-left: 20px;
		margin-top: 20px;
	}

	.deliveryRussia {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 20px;
		width: 985px;
		margin-bottom: 20px;
	}

	.deliverySPb {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 20px;
		width: 985px;
		margin-bottom: 20px;
	}

	.deliverySelf {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 20px;
		width: 985px;
		margin-bottom: 20px;
	}

	.info {
		width: 685px;
		display: flex;
		flex-direction: column;
	}
</style>