<template>
  <div class="loginForm">
    <div class="poles">
      <div class="AuthLabel">
        <label>Авторизация</label>
      </div>
      <div class="forms">
        <form name="username" class="username" action method="post">
          <label for="username" class="usernameLbl">E-Mail/ Номер телефона</label>
          <input
            type="text"
            class="usernameForm"
            placeholder="example@mail.ru"
            name="name"
            id="name"
            title="Введите сюда ваш e-mail или номер телефона"
            v-model="email"
          >
        </form>
        <form name="password" action method="post">
          <label for="name" class="passwordLbl">Пароль</label>
          <input
            type="password"
            placeholder="Пароль"
            class="passwordForm"
            id="passwordForm"
            title="Введите сюда ваш пароль"
            v-model="password"
          >
        </form>
        <input type="submit" class="goin" value="Войти" @click="login()">
        <div class="btns">
          <router-link to="/registration">Регистрация</router-link>
          <router-link to="/">На главную</router-link>
        </div>
        <p v-show="error" class="error">{{error}}</p>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      email: null,
      password: null,
      error: null
    };
  },
  methods: {
    login() {
      var app = this;
      this.$auth.login({
        params: {
          email: app.email,
          password: app.password
        },
        success: function(res) {
          //   console.log(res);
        },
        error: function(err) {
          this.error = err.response.data.msg;
          console.log(err.response.data.msg);
        },
        rememberMe: true,
        redirect: "/"
      });
    }
  }
};
</script>


<style scoped="">
.error {
  color: red;
}

.loginForm {
  height: 450px;
  width: 650px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  align-content: center;
  margin-left: 28%;
  margin-top: 10%;
}

.poles {
  padding-top: 20px;
  padding-right: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
}

.forms {
  padding-top: 80px;
  margin-left: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AuthLabel {
  display: absolute;
  background-color: #c4c4c4;
  font-size: 18px;
  color: black;
  font-family: "Comfortaa", sans-serif;
  width: 212px;
  height: 26px;
}

.goin {
  border: 1px solid black;
  border-radius: 60px;
  margin-left: 85px;
  margin-top: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.goin:hover {
  cursor: pointer;
  background: #2b2d2d;
  border-color: #2b2d2d;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.usernameLbl {
  font-size: 14px;
  margin-bottom: -10px;
}

.usernameForm {
  margin-bottom: 10px;
}

.passwordLbl {
  font-size: 14px;
  margin-bottom: -10px;
}

.passwordForm {
  margin-bottom: 10px;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 14px;
  margin-left: -150px;
  margin-top: -35px;
}
</style>



