<template>
  <div class="main">
    <componentSlider></componentSlider>
  </div>
</template>

<script>
import componentSlider from "../components/componentSlider.vue";
export default {
  name: "main",
  data() {
    return {};
  },
  components: {
    componentSlider
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
