<template>
  <div>
    <div class="header">
      <router-link to="/">main</router-link>
    </div>
  </div>
</template>

<style scoped>
.footer {
  margin-top: 35px;
  color: black;
}

.footer a {
  font-size: 24px;
  color: white;
  font-family: "Chakra Petch", sans-serif;
}
.buyshop,
.account {
  width: 60px;
}

.logo a {
  font-size: 72px;
  color: black;
  font-family: "Chakra Petch", sans-serif;
}

.account {
  margin-top: 20px;
  width: 100%;
}

.account img {
  height: 55px;
  width: 55px;
}

.buyshop {
  margin-top: 20px;
}

.buyshop img {
  height: 55px;
  width: 55px;
}
</style>
