<template>
  <div class="product">
    <div class="images">
      <img
        style="width:600px"
        v-for="(img, index) in product.images"
        :key="index"
        class="mySlides"
        :src="img.src"
        :style="{display: currentSlide === img.id?'':'none'}"
      >
      <div class="smallimg">
        <div class v-for="(img, index) in product.images" :key="index">
          <img
            class="demo w3-opacity w3-hover-opacity-off"
            :src="img.src"
            style="width:100px;cursor:pointer;border: 1px solid black"
            @click="currentSlide = img.id"
          >
        </div>
      </div>
    </div>
    <div class="actions">
      <p class="product_name">{{product.product_name}}</p>
      <p class="price">{{product.price}}</p>
      <div class="sizes">
        <div
          class="size"
          v-for="(size, index) in product.size"
          :key="index"
          @click="currentSize = size.id"
        >
          <button :class="currentSize === size.id? 'active': ''">{{size.letter}}</button>
        </div>
      </div>
      <div class="rating">
        <fai
          class="icons"
          :class="index < hoveredStar?'active':''"
          icon="star"
          v-for="(stars, index) in 5"
          :key="index"
          @mouseover="hoveredStar = index"
          @mouseleave="hoveredStar = product.rating"
          @click="rateProduct(index+1)"
        />
      </div>
      <div class="addtobucket">
        <button @click="addToBucket(product.id)">Добавить в корзину</button>
      </div>
      <div class="description">
        <label>Описание</label>
        <p>{{product.description}}</p>
      </div>
    </div>
  </div>
</template>

<script>
// import componentProductSlider from "../components/componentProductSlider.vue";
// import componentDescription from "../components/componentDescription.vue";
import axios from "axios";
export default {
  name: "main",
  data() {
    return {
      error: null,
      currentSlide: 1,
      currentSize: null,
      hoveredStar: null,
      product: {
        id: 0,
        product_name: "",
        category_id: 1,
        type: 1,
        price: 0,
        rating: 0,
        isAviable: 0,
        tags: [],
        images: [],
        size: [],
        comments: []
      }
    };
  },
  components: {
    // componentProductSlider
    // componentDescription
  },
  mounted() {
    this.getProduct();
  },
  methods: {
    getProduct() {
      axios
        .get(`/stock.getProductById?id=${this.$route.query.product_id}`)
        .then(res => {
          this.product = res.data;
          this.hoveredStar = this.product.rating;
          this.currentSlide = this.product.images[0]
            ? this.product.images[0].id
            : "";
        });
    },
    addToBucket(id) {
      axios
        .post(`/stock.addToBucket?product_id=${id}&size=${this.currentSize}`)
        .then(res => {
          console.log(res);
          if (res.data.status) {
            return alert("Необходимо авторизоваться/переавторизоваться");
          }
          alert("Товар успешно добавлен в корзину");
        })
        .catch(err => {
          this.error = err.response.data;
          alert("Чтобы добавить товар в корзину, нужно авторизоваться");
          // if (!$auth.check()) {
          // } else {
          //   alert(JSON.stringify(this.error));
          // }
        });
    },
    rateProduct(rating) {
      axios
        .post(
          `/stock.rateProduct?product_id=${this.product.id}&rating=${rating}`
        )
        .then(res => {
          if (res.data.status) {
            alert("Необходимо авторизоваться/переавторизоваться");
          }
          this.getProduct();
        })
        .catch(err => alert("Чтобы оценить продукт, нужно авторизоваться"));
    }
  }
};
</script>

<style lang="sass" scoped>
.images
  position: absolute
  height: 800px
  width: 700px
  margin-left: 300px
  top: 150px
  .mySlides
    position: relative
  .smallimg
    position: absolute
    margin-left: 500px
    top: 150px
    img 
      margin-bottom: 10px 
.actions
  position: absolute
  width: 400px
  height: 700px
  margin-left: 1100px
  top: 175px
  font-family: "Chakra Petch"
  .product_name
    margin-top: 10px
    font-size: 36px
    font-weight: bold

  .price
    margin-top: 10px
    font-weight: bold
    font-size: 24px
  .sizes
    margin-top: 10px
    .size
      display: inline
    .active
      background-color: #61407A
      outline: none
    button
      color: white
      width: 50px
      height: 50px
      font-size: 24px
      border: 0
      background-color: #000000
      margin-left: 5px
      cursor: pointer
      &:hover 
        background-color: #2f1f3a

      
  .rating
    .icons 
      margin-right: 10px 
      &:hover
        cursor: pointer
        color: #61407A
    margin-top: 10px
    font-size: 24px
    color: grey
    .active 
      color: #61407A


  .addtobucket
    margin-top: 20px
    margin-bottom: 100px
    button
      font-family: "Comfortaa"
      height: 50px
      width: 300px
      font-size: 20px
      background-color: black
      color: white
      outline: none
      border: 1px solid black
      cursor: pointer
      &:hover 
        background-color: #61407A
  .description
    margin-top: 20px
    label 
      // transform: skewX(35deg)
      background-color: #a3a3a3
      width: 100px
      font-family: "Comfortaa"


    



</style>
