<template>
  <div class="RegistrationForm">
    <div class="poles">
      <div class="AuthLabel">Регистрация</div>
      <div class="forms">
        <div class="important">
          <form name="email" class="email" action method="post">
            <label class="emailLbl" :class="error?error.email?'error':'':''" for="email">E-Mail</label>
            <input
              type="text"
              placeholder="example@mail.ru"
              name="email"
              id="email"
              title="Введите сюда ваш e-mail"
              v-model="email"
            >
          </form>
          <form name="password" class="password" action method="post">
            <label
              class="passwordLbl"
              :class="error?error.password?'error ':'':''"
              for="password"
            >Пароль</label>
            <input
              type="password"
              placeholder="Пароль"
              class="passwordForm"
              id="passwordForm"
              title="Введите сюда ваш пароль"
              v-model="password"
            >
          </form>
          <form name="passwordconfirm" class="passwordconfirm" action method="post">
            <label
              class="passconfirmLbl"
              for="passconfirm"
              :class="error?error.password_confiramtion?'error ':'':''"
            >Подтвердите пароль</label>
            <input
              type="password"
              placeholder="Пароль"
              class="passwordFormConf"
              id="passwordFormConf"
              title="Введите сюда ваш пароль"
              v-model="password_confirmation"
            >
          </form>
          <form name="phone" action class="phone" method="post">
            <label
              class="phoneLbl"
              for="phone"
              :class="error?error.phone_number?'error ':'':''"
            >Номер телефона</label>
            <input
              type="text"
              placeholder="+71234567890"
              name="phone"
              id="phone"
              title="Введите сюда ваш номер телефона"
              v-model="phone"
            >
          </form>
        </div>
        <div class="scnd">
          <form name="name" class="name" action method="post">
            <label
              class="nameLbl"
              for="name"
              :class="error?error.name?'error ':'':''"
            >Как вас зовут?</label>
            <input
              type="text"
              placeholder="Зубенко Михаил Петрович"
              name="name"
              id="name"
              title="Введите сюда ваше ФИО"
              v-model="name"
            >
          </form>
          <form name="adress" class="adress" action method="post">
            <label
              class="adressLbl"
              :class="error?error.def_address?'error ':'':''"
              for="adress"
            >Адрес</label>
            <input
              type="text"
              placeholder="55 Paper str."
              name="adress"
              id="adress"
              title="Введите сюда ваш адрес"
              v-model="def_address"
            >
          </form>
          <div class="add">
            <div class="hint">
              <div class="stripe"></div>
              <div class="hintLbl">Эти поля можно заполнить позже</div>
            </div>
          </div>
        </div>
        <div class="btns">
          <input type="submit" class="reg" value="Зарегистрироваться!" @click="register()">
          <router-link to="/">На главную</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      def_address: "",
      email: "",
      phone: "",
      password: "",
      password_confirmation: "",
      error: null
    };
  },
  methods: {
    register() {
      var app = this;
      this.$auth.register({
        data: {
          name: app.name,
          def_address: app.def_address,
          email: app.email,
          phone_number: app.phone,
          password: app.password,
          password_confirmation: app.password_confirmation
        },
        success: function() {
          app.success = true;
        },
        error: function(resp) {
          app.error = JSON.parse(resp.response.data);
        },
        redirect: "/login"
      });
    }
  }
};
</script>


<style scoped="">
.error {
  color: red;
}
.RegistrationForm {
  height: 650px;
  width: 650px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  align-content: center;
  margin-left: 28%;
  margin-top: 3%;
}

.forms {
  padding-top: 20px;
  padding-left: 65px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 330px;
}

.poles {
  padding-top: 20px;
  padding-right: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
}

.AuthLabel {
  display: absolute;
  background-color: #c4c4c4;
  font-size: 18px;
  color: black;
  font-family: "Comfortaa", sans-serif;
  width: 212px;
}

.reg {
  border: 1px solid black;
  border-radius: 60px;
  margin-top: 30px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.reg:hover {
  cursor: pointer;
  background: #2b2d2d;
  border-color: #2b2d2d;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.important {
  font-size: 18px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-family: "Comfortaa", sans-serif;
}

.scnd {
  width: 200px;
}

.emailLbl {
  margin-bottom: -10px;
}

.email {
  margin-bottom: 10px;
}

.passwordLbl {
  margin-bottom: -10px;
}

.password {
  margin-bottom: 10px;
}

.passwordconfirmLbl {
  margin-bottom: -10px;
}

.passwordconfirm {
  margin-bottom: 10px;
}

.phoneLbl {
  margin-bottom: -10px;
}

.phone {
  margin-bottom: 10px;
}

.nameLbl {
  margin-bottom: -10px;
}

.name {
  margin-bottom: 10px;
}

.adressLbl {
  margin-bottom: -10px;
}

.adress {
  margin-bottom: 10px;
}

.add {
  display: absolute;
  margin-top: -120px;
  margin-left: 300px;
  width: 200px;
}

.hint {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stripe {
  background-color: black;
  width: 2px;
  height: 120px;
}

.hintLbl {
  margin-left: 10px;
}

.btns {
  margin-left: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>



