<template>
  <div>
    <!-- TODO: SO BAD!! -->
    <componentHead
      v-show="this.$route.fullPath !== '/login' && this.$route.fullPath !== '/registration'"
    />
    <componentMenu
      v-show="this.$route.fullPath !== '/login' && this.$route.fullPath !== '/registration'"
    />
    <router-view/>
  </div>
</template>

<script>
import componentHead from "./components/componentHead.vue";
import componentMenu from "./components/componentMenu.vue";
import componentSlider from "./components/componentSlider.vue";

import axios from "axios";
export default {
  components: {
    componentHead,
    componentMenu,
    componentSlider,
  },
  data() {
    return {
      name: null
    };
  },
  mounted() {
    console.log(this.$auth);
    console.log(this.$route.fullPath);
    axios.get("/user").then(r => {
      if (r.data ? r.data.status === "Token is Expired" : false) {
        alert("Token is Expired");
        this.$auth.logout({
          redirect: "/login"
        });
      }
    });
    setInterval(() => {
      // this.name = this.$auth.user().name;
      // console.log(this.$auth.ready());
      // console.log(this.$auth.check(0));
      // console.log(this.$auth.user());
    }, 100);
  }
};
</script>

<style>
body {
  background-image: url("/images/triangles.jpg");
}
</style>